<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212317824812-4t3equfrr5sbcmjle0qh64mu1obmdtd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212317824812-4t3equfrr5sbcmjle0qh64mu1obmdtd5</string>
	<key>API_KEY</key>
	<string>AIzaSyCWGsj9IF8WSCp4xnWfTwqpCJIxy4GDnPs</string>
	<key>GCM_SENDER_ID</key>
	<string>212317824812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.app.conferenceapp</string>
	<key>PROJECT_ID</key>
	<string>app-test-ionic</string>
	<key>STORAGE_BUCKET</key>
	<string>app-test-ionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212317824812:ios:a9953c82e5141a8bb96e89</string>
	<key>DATABASE_URL</key>
	<string>https://app-test-ionic.firebaseio.com</string>
</dict>
</plist>